.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}

.smallprint {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-style: italic;
}

ul { 
  display: inline-block;
  overflow: scroll; 
  }

li { 
  display: inline-block;
  }

buttons {
  display:inline-block;
  overflow-y: scroll;
  overflow-x: scroll;
}

h3{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  color: #125c99;
  margin-left: 0px;
  padding-left: 16px;
  vertical-align: top;
  align-content: left;
}

.insidetitle {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  color: #125c99;
  margin-left: 0px;
  padding-left: 16px;
  vertical-align: top;
  align-content: left;
}

h4 {
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  font-size: 24px;
  color: #125c99;
  font-weight: 400;
  margin-left: 50px;
  padding-left: 16px;
  vertical-align: top;
  align-content: left;
  border-top: 3px solid #125c99;
}

h5{
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  font-size: 28px;
  font-weight: lighter;
  color: rgb(33, 144, 196);
  margin-left: 0px;
  padding-left: 16px;
  vertical-align: top;
  align-content: left;

}

h6{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  color: black;
  font-weight:700;
  vertical-align: bottom;
  text-align: left;
  margin-left: 10px;
}

.h7{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  color: white;
  font-weight:bold;
  vertical-align: bottom;
  text-align: left;
  margin-left: 10px;
}

.hrline {
  width: 90%;
  align-self: right;
  border-top:2px solid #125c99;
  color: #125c99;
  background-color:#125c99
}

.topimage {
  padding: 0px;
  vertical-align: bottom;
  /*
  background-image: url("./pages/images/bkgrounds/OcenWater1.jpg");
  background-image: url("./pages/images/bkgrounds/OcenWater2.jpg");
  background-image: url("./pages/images/bkgrounds/Wayvi1.jpg");
  background-image: url("./pages/images/bkgrounds/Wayvy2.jpg");
  background-image: url("./pages/images/bkgrounds/AbstractColorful.jpg");
  background-image: url("./pages/images/bkgrounds/GenAI_Splash.jpg");

  background-image: url("./images/bkgrounds/AbstractColorful.jpg");
    */
  background-image: url("./images/bkgrounds/WayToLight.jpg");
}

.sideimage {
  padding: 0px;
  vertical-align: top;
  
  /*background-image: url("./images/bkgrounds/OcenWater1.jpg");
   */
  background-image: url("./images/bkgrounds/OcenWater2.jpg");
  /*
  background-image: url("./pages/images/bkgrounds/Wayvi1.jpg");
  background-image: url("./pages/images/bkgrounds/Wayvy2.jpg");
 
  background-image: url("./images/bkgrounds/AbstractColorful.jpg");
  background-image: url("./pages/images/bkgrounds/GenAI_Splash.jpg");
  background-image: url("./images/bkgrounds/AI_Vibrant.jpg");
    */
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

nav {
  /* border-bottom: 2px solid #97750e; */
  text-align: left;
  top: 0;
  width: 100%;
  background: #97750e;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  /*
  padding-top: 16px;
  padding-bottom: 16px;
  */
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: normal;
  padding-left: 32px;
  padding-right: 32px;
}

nav a:hover {
  background: white;
  color: #125c99;
}

#page-body {
  width: 100%;
  height: 500px;
  text-align: center;
  padding: 0px;
  background: #f4f5d5;
  overflow-y: scroll;
  overflow-x: scroll;
}

th, td {
  padding-left: 10px;
  vertical-align: top;
/* 
  border: 1px solid #125c99;
 */
}

.logo {
  vertical-align: bottom;
}

.texttable {
  width: 95%;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: top;
  align-content: left;
}

.textcolumn {
  padding-left: 10px;
  vertical-align: top;
  align-content: left;
}

.columntitle {
  align-content: left;
  text-align: left;
  padding-left: 10px;
}

.techno {
  background: #3980a7;
  color: #ffffff;
  align-content: left;
  text-align: left;
}

.technocolumn {
  width: 200px;
  background: #3980a7;
}

.projects {
  color: #406071;
  background: #ffffff;
  align-content: left;
  text-align: left;
}

.projectscolumn {
  width: 200px;
  background: #ffffff;
}

input[type=text] {
  background-color:#fce9b1;
  border: 1px solid #97750e;
  border-radius: 0px;
}

text {
  background-color:#e6d297;
  border: #125c99;
  border-width: thin;
  border-radius: 0%;
}

footer {
  border-top: 1px solid #125c99;
  text-align: center;
  font-size: 16px;
  color:#125c99;
  bottom: 0;
  width: 100%;
  background: white;
}

buttons {
  display:inline-block;
  overflow-y: scroll;
  overflow-x: scroll;
}

button {
  padding: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  background-color: #125c99;
  /*color: #97750e;*/
  color: white;
  /*
  border-radius: 5px;
  */
  /*border-color: #97750e;
  border-width: 1px;*/
  cursor: pointer;
}


button:hover {
  background: white;
  color: #125c99;
  border-color: #125c99;
}

.searchbutton {
  padding: 6px;
  width: 100px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: 700;
  background-color: white;
  color: #125c99;;
  /* border-radius: 5px;
  */
  border-color: #97750e;
  border-width: 1px;
  cursor: pointer;
}

.searchbutton:hover {
  background: #97750e;
  color: white;
}

.p1 {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  padding-left: 12px;
}

.my-link {
  color: rgb(40, 153, 182);
  text-decoration: none;
  font-weight: bold;
  padding-left: 17px;
}

.my-link:hover {
  color: #97750e;
}
